name: Update data

on:
  push:
  workflow_dispatch:
  schedule:
  - cron: '0 0 * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
    - name: Check out this repo
      uses: actions/checkout@v4
    - name: Fetch latest data
      run: |-
        bash .github/scripts/update.sh
    - name: Commit and push if changed
      run: |-
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git add -A
        timestamp=$(date -u)
        git commit -m "Data updated ${timestamp}" || exit 0
        git push
